.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
}

.container {
  background-color: rgb(163, 158, 158);
  border: 2px solid black;
  border-radius: 16px;
  width: 100%;
  max-width: 300px;
}

.display {
  text-align: right;
  border-radius: 8px 8px 0px 0px;
  padding: 16px;
  background-color: black;
  color: white;
}

.digits {
  flex-wrap: wrap;
  flex-direction: column;
  border: 2px solid red;
}

.operators {
  display: flex;
  flex-direction: column;
  max-width: 30px;
  border: 2px solid green
}