.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
}

.container {
  background-color: rgb(163, 158, 158);
  border: 2px solid black;
  border-radius: 16px;
  width: 100%;
  max-width: 300px;
}

.display {
  text-align: right;
  border-radius: 8px 8px 0px 0px;
  padding: 16px;
  background-color: black;
  color: white;
  font-size: 24px;
}

.functions {
  display: flex;
  justify-content: center;
  width: 100%;
}

.functions button {
  background-color: azure;
  width: 100%;
  font-size: 16px;
  border-radius: 16px;
  margin: 8px 8px;
}

.bottom {
  display: flex;
}

.operators {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
}

.operators button {
  background-color: orange;
  margin: 5px 0px;
  font-size: 16px;
  border-radius: 16px;
  width: 75%;
}

.digits {
  flex: 1 1 33.3%;
  flex-wrap: wrap;
  flex-direction: column;
}

.digits button {
  background-color: darkcyan;
  margin: 8px;
  width: 25%;
  padding: 0px 16px;
  font-size: 20px;
  border-radius: 16px;
}

.digits .zero {
  width: 58%;
}

button:hover {
  cursor: pointer;
}