.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
}

.container {
  background-color: rgb(163, 158, 158);
  border: 2px solid black;
  border-radius: 16px;
  width: 100%;
  max-width: 300px;
}

.display {
  text-align: right;
  border-radius: 8px 8px 0px 0px;
  padding: 16px;
  background-color: black;
  color: white;
}

.functions {
  display: flex;
  justify-content: center;
  width: 100%;
}

.functions button {
  width: 100%;
  font-size: 16px;
  border-radius: 16px;
}

.bottom {
  display: flex;
}

.operators {
  display: flex;
  flex-direction: column;
  width: 24%;
  border: 2px solid green;
  align-items: center;
}

.operators button {

  margin: 5px 0px;
  font-size: 16px;
  border-radius: 16px;
  width: 75%;
}

.digits {
  flex: 1 1 33.3%;
  flex-wrap: wrap;
  flex-direction: column;
  border: 2px solid red;
}

.digits button {
  padding: 8px;
  font-size: 32px;
  border-radius: 16px;
}